/* .main {
  font-size: 28px; 
  padding: 0px 10px;
  background-color: rgb(26, 26, 26);
  color: rgb(226, 225, 225);
}
.content {
  padding: 30px 0;
}
.content-title {
  font-size: 1em;
  text-align: left;
} */
